.about {
  &__content {
  }

  &__description {
    padding: 3.4375rem 1.71875rem;
    > p {
      min-height: 6.875rem;
      color: $darkGrey;
      line-height: 1.5;
    }
  }
  &__image {
    width: 100%;
  }
}
