html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 150px;
}

a,
:visited,
a:hover {
  text-decoration: none;
  color: $black;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

.hide-mobile {
  @include breakpoint-max(medium) {
    display: none;
  }
}

.hide-desktop {
  @include breakpoint-min(large) {
    display: none;
  }
}

.hide-img-desktop {
  @include breakpoint-min(medium) {
    display: none;
  }
}

.hide-img-mobile {
  @include breakpoint-max(small) {
    display: none;
  }
}
