// Colors

$darkGrey: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGray: hsl(0, 0%, 27%);

// Font Sizes

$font-sm: 0.75rem; //12px
$font-med: 0.875rem; //14px
$font-large: 1.125rem; //18px
